default_stages:
  [pre-commit, pre-push, manual, prepare-commit-msg, post-merge, post-rewrite]
default_install_hook_types:
  [pre-commit, commit-msg, pre-push, post-rewrite, post-merge]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-ast
      - id: check-added-large-files
        args: [--maxkb=800]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.407
    hooks:
      - id: pyright
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        args: ["--all"]
        language: system
        pass_filenames: false
      - id: cargo-check
        args: ["--all-features", "--all-targets", "--workspace", "--"]
        language: system
      - id: clippy
        name: clippy_fix
        args: ["--fix", "--all-features", "--allow-staged", "--allow-dirty"]
        language: system
      - id: clippy
        name: clippy_lint
        args:
          [
            "--all-targets",
            "--all-features",
            "--",
            "-D",
            "warnings",
            "-A",
            "clippy::all",
          ]
        language: system
  - repo: local
    hooks:
      - id: pytest
        language: system
        name: pytest
        types: [python]
        entry: .venv/bin/pytest
        args:
          - "tests/"
          - "-m"
          - "not network"
        pass_filenames: false
        always_run: true
      - id: commit-msg-length
        name: commit-msg-length
        stages: [commit-msg]
        language: pygrep
        entry: '^.{8,50}(?:\n{2}|$)(?:.{0,72}(\n|$)){0,20}$'
        args: ["--negate"]
      - id: commit-msg
        name: conventional-commit
        stages: [commit-msg]
        language: pygrep
        entry: >-
          ^(chore|test|feat|fix|fixup|drop|build|docs|refactor)!?(\([a-z]+\))?: (?![A-Z])(?![a-z]+(ed|ing)\s).*$
        args: ["--negate"]
