[tool.poetry]
name = "PROJECT_NAME"
version = "0.0.0"
description = "DESCRIPTION"
authors = ["Your Name <you@example.com>"]
license = "Proprietary"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
invoke = ">=2.0.0"
pyyaml = "^6.0"


[tool.poetry.group.dev.dependencies]
black = "^23.7.0"
mypy = ">=1.3"
pre-commit = ">=2.21.0"
ruff = "^0.0.286"


[tool.poetry.group.test.dependencies]
pytest = ">7.2.1"
pytest-mock = ">=3.10.0"
pytest-xdist = "^3.3.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"


[tool.ruff]
select = [
    "A",
    "B",
    "C",
    "E",
    "F",
    "I",
    "UP",
    "PL",
    "PTH",
    "PGH",
    "ERA",
    "RUF",
    "TRY",
]
target-version = "py311"
line-length = 90
# maturity path:
# "E", "F", "W", "UP", "I", "NPY", "A", "PTH", "PLR", "PGH", "RUF", "ARG", "RET", "PD", "N", "PLC", "PT", "INP", "TRY", "SIM", "TD", "PLW", "BLE", "B", "DTZ", "G", "PGH", "Q", "ERA", "EM", "FLY", "PT", "ISC", "SLF"
ignore = ["PLR2004", "E501", "COM812"]
fix = true

fixable = ["ALL"]
unfixable = ["E731"]

exclude = [
    ".git",
    ".mypy_cache",
    ".pytest_cache",
    ".pytest_cache",
    ".venv",
    "venv",
    "build",
    "dist",
]

[tool.ruff.mccabe]
max-complexity = 8

[tool.ruff.flake8-quotes]
inline-quotes = "double"
multiline-quotes = "double"

[tool.mypy]
python_version = "3.11"
check_untyped_defs = true
ignore_missing_imports = true
install_types = true
non_interactive = true
show_error_codes = true
warn_no_return = true
warn_redundant_casts = true
warn_unreachable = true
warn_unused_ignores = true

[tool.black]
line-length = 90
target-version = ["py311"]
skip-string-normalization = true

[tool.isort]
profile = "black"
line_length = 90
py_version = 311
filter_files = true
