[tool.poetry]
name = "PROJECT_NAME"
version = "0.0.0"
description = "DESCRIPTION"
authors = ["Your Name <you@example.com>"]
license = "Proprietary"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9.14"
invoke = "^2.0.0"


[tool.poetry.group.dev.dependencies]
flake8 = "^6.0.0"
mypy = "^0.991"
pre-commit = "^2.21.0"
yapf = "^0.32.0"


[tool.poetry.group.test.dependencies]
pytest = "^7.2.1"
pytest-mock = "^3.10.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
